<form action="/add/<%= @type %>" method="POST">
<fieldset>
  <legend>New <%= @type %></legend>
    <div class="clearfix">
        <label>First Name:</label>
        <div class="input">
            <input type="text" id="first_name" name="first_name" />
        </div>
    </div>
    <div class="clearfix">
        <label>Last Name:</label>
        <div class="input">
            <input type="text" id="last_name" name="last_name" />
        </div>
    </div>
    <div class="actions">
      <button class="btn primary" type="submit" name="signin">Add <%= @type %></button>
        <!-- <button class="btn" type="clear" name="cancel">Cancel</button> -->
    </div>
</fieldset>
</form>
