<!DOCTYPE html>
<html lang="en">
<head>
  <title>Renegade!</title>
  <meta charset=utf-8 />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/renegade.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
  <script type="text/javascript">
    window.q = [];
    window.onInit = function(f){
      q.push(f);
    };
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">Renegade!</a>
        <% if @loggedIn %>
        <form class="navbar-search pull-left" action="/people" method="GET">
          <input type="text" class="search-query" id="search" name="search" placeholder="Search" value="<%= params[:search] %>" />
        </form>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <%= yield %>
      </div>
    </div>

    <footer>
    <% if @loggedIn %>
      <a href="/logout">Logout</a>
    <% end %>
    <p>&copy; <%= Date.today.year %></p>
    </footer>
  </div>
  <script type="text/javascript" src="/js/json2.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/renegade.js"></script>
  <script type="text/javascript">
  $(function() {
      $.each(window.q, function(index, f) { f.call(document); })
  });
  </script>
</body>
</html>
