<!DOCTYPE html>
<html lang="en">
<head>
  <title>Renegade!</title>
  <meta charset=utf-8 />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/renegade.css" />
  <script type="text/javascript">
    window.q = [];
    window.$=function(f){
      q.push(f);
    };
  </script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Renegade!</a>
        <ul class="nav">
          <li><a href="/people">People</a></li>
        </ul>
        <form class="navbar-search pull-left" action="/people" method="GET">
          <input type="text" class="search-query" id="search" name="search" placeholder="Search" value="<%= params[:search] %>" />
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>

    <footer>
    <p>&copy; <%= Date.today.year %></p>
    </footer>
  </div>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.validate.js"></script>
  <script type="text/javascript" src="/js/json2.js"></script>
  <script type="text/javascript" src="/js/jsrender.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/renegade.js"></script>
  <script type="text/javascript">
  $.views.registerTags({
      itemOrNone: function (value) {
          return value || "None";
      }
  });

  $(function() {
      $.each(window.q, function(index, f) { f.call(document); })
  });
  </script>
</body>
</html>
