<form action="/login" method="POST" id="login-form">
<fieldset>
    <legend>Login</legend>
<% if @showError %>
  <div class="alert alert-error">
    Email address or password incorrect. Please try again.
  </div>
<% end %>
    <div class="control-group">
        <label>Email Address:</label>
        <div class="input">
            <input type="email" id="email" name="email" />
        </div>
    </div>
    <div class="control-group">
        <label>Password:</label>
        <div class="input">
            <input type="password" id="password" name="password" />
        </div>
    </div>
    <input type="hidden" name="returnurl" value="<%= params[:returnurl] %>" />
    <div class="control-group">
        <button class="btn btn-primary" type="submit" name="signin">Sign In</button>
        <button class="btn btn-cancel" type="reset" name="cancel">Cancel</button>
    </div>
  <p>
    Don't have an account? <a href="/create">Create</a> one here.
  </p>
</fieldset>
</form>
<script type="text/javascript">
  onInit(function () {
      $("#login-form").validate({ 
        rules: { 
          email: { required: true, email:true }, 
          password: { required: true, minlength: 6 }
        },
        messages: {
          email: { requied: "An email address is required to login.", email: "The format of the email address was not reconginzed." },
          password: { requied: "Please enter a password.", minlength: "A password must be a least 6 characters long." }
        },
      });
    });
</script>
