<dl id="person">
  <dt>Name</dt>
  <dd><%= @person[:first_name] %> <%= @person[:last_name] %></dd>
</dl>
<div style="display:none">
Record Created: <%= @person[:create_date] %>
</div>
<script id="dataItem" type="text/x-jquery-tmpl">
  <dt>Phone</dt>
  <dd>{{= phone}}</dt>
  <dt>Address</dt>
  <dd>
  <div>{{= address}}</div>
  <div>{{= address2}}</div>
  <div>{{= city}}, {{= state}} {{= zip}}</div>
  </dd>
  <dt>Allergy/Medical Condition</dt>
  <dd>{{itemOrNone allergy_medical}}</dd>
  <dt>Notes</dt>
  <dd>{{itemOrNone notes}}</dd>
  <dt>First Attendance</dt>
  <dd>{{= first_attendance}}</dd>
</script>

<script type="text/javascript">
  $.views.registerTags({
      itemOrNone: function (value) {
          return value || "None";
      }
  });

  $(document).ready(function () {
      var data = JSON.parse('<%= @person[:data] %>');
      $("#person").append(
        $("#dataItem").render(data)
      );
  });
</script>
